/* You can add global styles to this file, and also import other style files */
:root {
  --cinza-escuro: #242424;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #525252;
  color: #fff;
}
